* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 1.6rem;
}

a {
  text-decoration: none;
  color: #fff;
  font-weight: 400;
  transition: all 0.2s ease-in;
}

a:hover {
  color: orange;
}

img {
  max-width: 100%;
  display: block;
}

main {
  width: 80%;
  margin: 80px auto;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  padding: 0 6rem;
}

header {
  background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.25),
      rgba(0, 0, 0, 0.25)
    ),
    url("./TINY/Wonder-Woman-1984.jpg") no-repeat top/cover;
  padding: 4rem;
  color: #fff;
}

header h2 {
  font-size: 4rem;
  font-weight: 400;
  text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}

header h3 {
  font-size: 3rem;
  font-weight: 400;
  text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 4rem;
}

nav h2 {
  font-size: 3rem;
  text-shadow: none;
}

nav ul {
  list-style: none;
  display: flex;
  align-items: center;
}

nav ul li {
  margin-left: 2rem;
}

.header-content {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.header-text {
  width: 50%;
}

.header-text p {
  font-size: 2rem;
  margin: 2rem 0;
}

.header-text button {
  font-size: 2rem;
  padding: 1.5rem 3rem;
  background: none;
  color: #fff;
  border: 2px solid #fff;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.2s ease-in;
}

.header-text button:hover {
  background: #fff;
  color: #000;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
}

.header-pictures {
  display: flex;
  align-items: flex-end;
}

.picture {
  height: 8rem;
  width: 12rem;
  border-radius: 10px;
  margin-left: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4rem;
  cursor: pointer;
  transition: all 0.2s ease-in;
  opacity: 0.9;
}

.picture:hover {
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);
  opacity: 1;
}

.picture01 {
  background: url("./TINY/disney-cars-aladdin-raiponce-les-clins-d-oeil-caches-dans-les-films-disney-pixar-33-photos.jpg")
    no-repeat center/cover;
}

.picture02 {
  background: url("./TINY/cover-r4x3w1000-583516a235146-inception-inception-21-07-2010-5-g.jpg")
    no-repeat bottom/cover;
}

.picture03 {
  background: url("./TINY/EA34B244F31C104EBB202E8A769CE96B56C42AA4FE63E5B93230D4A7A1E15FB0.png")
    no-repeat center/cover;
}

section {
  margin: 4rem 0;
}

.cards {
  display: flex;
  justify-content: space-between;
}

.card {
  height: 15rem;
  width: 30%;
  background-color: lightcoral;
  border-radius: 10px;
  font-size: 6rem;
  cursor: pointer;
  transition: all 0.2s ease-in;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.9;
}

.card:hover {
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);
  opacity: 1;
}

.card01 {
  background: url("./TINY/ad_astra.jpg") no-repeat center/cover;
}
.card02 {
  background: url("./TINY/joker-joaquin-phoenix.jpg") no-repeat center/cover;
}
.card03 {
  background: url("./TINY/812uG5uFZhL.jpg") no-repeat top/cover;
}

.bottom-part {
  display: flex;
  justify-content: space-between;
}

.bottom-right {
  width: 38%;
}

.bottom-right .card {
  width: 100%;
}

/* PANELS */

.playing {
  padding-bottom: 6rem;
  width: 58%;
}

.lead {
  margin-bottom: 2rem;
  color: #666;
}
.panel {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 2rem 0;
}

.panel-title {
  width: 40%;
}

.panel-pic {
  width: 5rem;
  height: 5rem;
  border-radius: 8px;
}

.panel-pic01 {
  background: url("./TINY/ad_astra.jpg") no-repeat center/cover;
}
.panel-pic02 {
  background: url("./TINY/spider-man-homecoming-affiche-988436.jpg") no-repeat
    center/cover;
}
.panel-pic03 {
  background: url("./TINY/Star-Wars-The-Last-Jedi.jpg") no-repeat center/cover;
}
